.fil {
  margin: 5rem 0;
}

.bouton-filtre.pal {
  background-color: var(--light-green-primary);
  color: white;
}

.bouton-filtre.pal i {
  color: white;
}

@media (min-width: 576px) {
  .fil {
    margin-top: 1rem;
    margin-left: 95px;
  }
}

@media (min-width: 768px) {
  .fil {
    margin-left: 135px;
  }
}

@media (min-width: 992px) {
  .fil {
    margin-left: 195px;
  }
}
