.page-recherche {
  margin: 5rem 0 10rem 0;
}

.recherche-wrapper {
  margin: 0 3rem;
}

.page-recherche h2 {
  margin: 3rem 0;
  color: var(--light-green-primary);
}

.search-bar input {
  border: solid 1px var(--dark-green);
  background-color: white;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.search-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid var(--delimit-border-light);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.search-item img {
  width: 100%;
}

.search-item h3 {
  color: var(--light-green-primary);
}

.search-item p {
  line-height: 1rem;
  margin: 0;
  color: var(--dark-green);
}

.search-item p:nth-child(3) {
  font-style: italic;
  line-height: 2rem;
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .recherche-wrapper {
    margin-left: 110px;
  }
}

@media (min-width: 768px) {
  .recherche-wrapper {
    margin-left: 150px;
  }
}

@media (min-width: 992px) {
  .recherche-wrapper {
    margin-left: 210px;
  }
}
