.suggestions {
  margin-top: 5rem;
}

.index-info {
  text-align: center;
  color: black;
  margin: 50px 0 25px;
  font-size: 18px;
  font-weight: 300;
}

.suggestions-slider {
  max-width: 150px;
  aspect-ratio: 2/3;
  margin: 0 auto;
  position: relative;
}

.manga-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-button {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button {
  left: -100px;
}

.next-button {
  right: -100px;
}

.navigation-button:hover {
  background-color: antiquewhite;
}

.manga-titre {
  text-align: center;
  margin: 50px 0 20px;
  font-size: 18px;
  font-weight: 500;
}
